.btn {
  padding: 10px;
  font-size: 12px;
  min-width: 120px;
  background-color: #ffffff;
  border: 1px solid #333333;

}

.btn-warning {
  @extend .btn;
  color: $warning-red;
  border-color: $warning-red;

  &:hover,
  &:focus {
    background-color: $warning-red;
    color: #ffffff;
    border-color: #ffffff;
  }
}

.btn-primary {
  @extend .btn;
  color: $light-blue;
  border-color: $light-blue;

  &:hover,
  &:focus {
    color: #ffffff;
    border-color: #ffffff;
    background: $light-blue;
  }
}