// Todo list body
.todo-body ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    padding: addition($m-space, 8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c7c7c7;

    &:hover {
      background-color: darken(#ffffff, 5%)
    }
  }
}